body {
  font-family: "Liberation Sans Narrow", "Arial Narrow", sans-serif;
  font-size: 14px;
  background: #CCC;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  color: #777;
  position: absolute;
  top: 0px;
  left: 3%;
  margin: 0px;
}

#images {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 120px;
  padding: 3px;
  overflow: auto;
  background: #555;
}

#images img {
  width: 100%;
  min-height: 40px;
  max-height: 100px;
  border: 1px solid #EEE;
}

#canvas-area {
  position: absolute;
  top: 35px;
  bottom: 0px;
  left: 0px;
  right: 126px;
  overflow: auto;
  border-top: 1px solid rgba(0,0,0,0.6);
  background: #FFF;
}

#canvas-area.withBG {
  background-image: url(images/bg.png);
}

#lapsedTime {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgba(255,255,255,0.6);
  text-shadow: 0 0 2px #FFF, 0 0 2px #FFF;
  padding: 3px 5px;
  border-radius: 0 5px 0 0;
}

.block-left {
  float: left;
}
.block-right {
  float: right
}

#open-ctrl {
  position: absolute;
  display: block;
  top: 7px;
  right: 140px;
  padding: 2px 5px;
  background: #DDD;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  text-decoration: none;
  color: #333;
}

#ctrl > div {
  width: 600px;
  padding: 10px;
}

#ctrl .block-left {
  width: 350px;
}

#ctrl label {
  display: block;
}

#ctrl label > small {
  white-space: nowrap;
}

.slide360, .slideOne {
  display:inline-block;
  width: 250px
}

#hueKeyG {
  background: url(images/hue-test-1.png) no-repeat;
  background-size: cover;
}

input {
  width: 2em
}
